body {
  font-family: Arial, sans-serif;
  background-color: #fffdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  background-color: #e1dbdb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #212121;
}

input[type="number"] {
  width: calc(50% - 10px);
  height: 40px;
  margin: 10px 5px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

p {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

#weight-guide {
  font-size: 16px;
  color: #444;
}

#results {
  font-size: 35px;
  margin-top: 20px;
  color: rgb(139, 51, 51);
  font-weight: bold;
}

button {
  width: 100px;
  height: 45px;
  margin-top: 20px;
  background-color: #212121;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  
}

button:hover {
  background-color: #fff;
  color: #212121;
  border: 2px solid #212121;
}